{% extends 'base.html' %}
{% load static %}
{% load ref_tags %}

{% block title %}
    <title>AllBooks</title>
{% endblock title %}

{% block home %}
active
{% endblock home %}
   

{% block main %}
<br>
<main class="px-3">
<h1>AllBooks - Твоё решение для покупки книги!<h1><br>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="margin-bottom:18px">
      <div class="row g-0">
        <img src="{% static '/groups/img/img2.jpg' %}" class="d-block w-100" alt="..." style="max-width: 440px; margin-left:85px; height:220">
      </div>
    </div>
{% for book in books%}
    <div class="carousel-item">
      <div class="card mb-3" style="max-width: 440px; margin-left:85px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src={% book_img_safe book.pk%} alt="Обложка" style="width:140; height:220">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="color:black">{{book.book_name}}</h5>
              <p class="card-text" style="color:black">{{book.book_desc}}</p>
              <a class="btn btn-light" href="{% url 'cart:add-to-cart' %}?book={{book.pk}}">Добавить в карзину</a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
  </div>
    
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>
<a class="btn btn-light" href='{% url 'book_list' %}'>Список всех книг</a
<br>
<h1>Новые авторы</h1>
<div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="margin-bottom:18px">
      <div class="row g-0">
        <img src="{% static '/groups/img/auth.jpg' %}" class="d-block w-100" alt="..." style="max-width: 440px; margin-left:85px; height:220">
      </div>
    </div>
{% for auth in authors%}
    <div class="carousel-item">
      <div class="card mb-3" style="max-width: 440px; margin-left:85px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src={% auth_img_safe auth.pk%} alt="Обложка" style="width:140; height:220">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="color:black">{{auth.author_name}}</h5>
              <p class="card-text" style="color:black">{{auth.author_description}}</p>
              <a class="btn btn-light" href="/authors/{{auth.pk}}" >об авторе</a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>
</main>
{% endblock main %}